*,
*::before,
*::after {
  box-sizing: border-box;
}

/* not work in safari */
html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  cursor: pointer;

  &:hover {
    text-decoration: none;
  }
}

img {
  display: block;
  max-width: 100%;
  margin: 0 auto;
}
