// rwd breakpoint
@mixin laptop {
  @media (max-width: 960px) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: 768px) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: 480px) {
    @content;
  }
}

// utilities
@mixin abs-center {
  position: absolute;
  top: 50px;
  left: 50px;
  transform: translate(-50%, -50%);
}

@mixin flex-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
